/*Ranking*/
.competition-name, .id-name{
    font-size: x-small;
    color:     #aaaaaa;
}
.event-name{
    font-size: small;
    color:     #aaaaaa;
}
.subrecord{
    font-size: x-small;
}

/*Person*/
.person-event-name{
    color:     #aaaaaa;
}

.person-rank-title, .person-round-title{
    font-size: 9px;
}

.person-competition-date{
    font-size: small;
    color:     #aaaaaa;
}

.person-subrecord{
    font-size: x-small;
    color:     #aaaaaa;
}

/*Competition*/
.venue{
    font-size: x-small;
    color:     #aaaaaa;
}
.competition-detail-date{
    font-size: small;
    color:     #aaaaaa;
}
.winner-title{
    color:     #aaaaaa;
}
.winner-rank-title{
    font-size: x-small;
}
.winner-subrecord{
    font-size: x-small;
    color:     #aaaaaa;
}
.winner-time{
    font-size: small;
}
.results-title{
    color:     #aaaaaa;
}
.results-rank-title{
    font-size: x-small;
}
.results-subrecord{
    font-size: x-small;
    color:     #aaaaaa;
}
.results-time{
    font-size: small;
}

/*Global*/
.world_record{
    font-size: 9px;
    color:     #ff0033;
}
.continent_record{
    font-size: 9px;
    color:     #ff6633;
}
.national_record{
    font-size: 9px;
    color:     #33cc33;
}
.ui-li .ui-btn-text a.ui-link-inherit {
    overflow: visible;
    white-space: normal !important;
}
