.competition-name, .id-name {
    font-size: x-small;
    color:     #aaaaaa;
}
.event-name{
    font-size: small;
    color:     #aaaaaa;
}
.personal-event-name{
    color:     #aaaaaa;
}
.subrecord, .personal-rank-title{
    font-size: x-small;
}
.venue{
    font-size: x-small;
    color:     #aaaaaa;
}
